.container {
  width: 900px;
  border: 2px solid red;
  display: block;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.input {
  text-align: center;
}

.image {
	overflow: hidden;
	width: 300px;
	height: 300px;
	display: inline-block;
}