.container {
  width: 900px;
  display: block;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.input {
  text-align: center;
}

.image {
	overflow: hidden;
	width: 300px;
	height: 300px;
	display: inline-block;
	transition: all .5s linear;
}

.image.ng-enter {
	opacity: 0;
}

.image.ng-enter-active {
	opacity: 1;
}

.alerts {
	text-align: center;
}