<!doctype html>
<html ng-app="instaApp">
  <head>
    <link rel="stylesheet" href="css/app.css" />
    <title>Instagram Searcher</title>
  </head>
  <body>
    <div class="container" ng-controller="instaCtrl">
      <div class="header"><img src="images/ng-instagram.png" alt="Angular Instagram" /></div>
      <div class="input">
        <form name='searchForm' ng-submit="searchForm.$valid && getResults(query)" novalidate>
          <input class='form-control' type="text" ng-model="query" ng-pattern='/^\s*\w*\s*$/' required />
          <input type="submit" value="Submit" ng-click="getResults(query)">
        </form>
        <p ng-if="searching">Searching....</p>
        <p ng-if="failed">{{failed}}</p>
        <p ng-if="images">We found {{count}} images.</p>
        <div class="image" ng-repeat="image in images">
              <a ng-href="{{image.link}}"><img ng-src="{{image.images.low_resolution.url}}" /></a>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src='js/app.js'></script>
  </body>
</html>